


body {
    background-color: rgba(149, 160, 141, 0.3);
}


.container-fluid{
max-width:850px;
}

.row_custom{
  margin-right: -15px;
  margin-left: -15px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 10px;
}

.body {
  padding-top: 0px;
}

