


body {
    background-color: rgba(149, 160, 141, 0.3);
}


.container-fluid{
max-width:850px;
}

.row_custom{
  margin-right: -15px;
  margin-left: -15px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 10px;
}

.body {
  padding-top: 0px;
}

.btn-resp {
	margin: 5px 15px 5px 15px;
}

div#messages {
	float:right;
	background-color: #F0F0F0;
	border:1px solid #C0C0C0;
	width:300px;
}

#ajout_evenement label.error {
  background:url("../img/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  margin-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}

#ajout_evenement label.checked {
  background:url("../img/checked.gif") no-repeat 0px 0px;
}

