
body {
	padding-top: 70px;
	background-color: rgba(149, 160, 141, 0.3);
}

.titre {
	padding: 20px;
}

.logo-entp {
	max-height: inherit !important;
	display: inline;
}

.container-fluid {
	max-width: 750px;
}

.row {	
	background: #eeeeee;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	
}

.btn-top {	
	padding-top: 20px;
}

.btn-retour {	
	padding-bottom: 20px;
}

.align {	
	padding: 5px;
	max-height: 40px !important;	
}

.desc {	
	padding: 5px;
}

@media all and (max-width: 355px) {

.btn-resp
	{
		margin: 5px;
	}
}


