/*

HOME CSS

*/


body {
  padding-top: 70px;
 // background-color: #6f5499;

}

body {
    background-color: rgba(149, 160, 141, 0.3);
}

.logo{
padding-bottom:15px;

}

.logo img{
margin: auto;
max-width:250px;
}

.titre{
padding-bottom: 30px;
}

.desc_event{
padding-bottom:20px;
}


.container-fluid{
max-width:750px;
}

.oganisateur, p{
padding:15px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map, .map_canvas {
        height:400px;         
        margin: 0px;
        padding: 0px;
}

.row_custom{
  margin-right: -15px;
  margin-left: -15px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 10px;
}

.body {
  padding-top: 0px;
}

/*

ACCUEIL ADMIN CSS

*/

.jumbotron h1, .jumbotron .h1 {

    margin: 0 0 20px 0;
}

.jumbotron h2, .jumbotron .h2 {

    float:left;
    margin: -3px 10px 25px 0;
}

th, #nospace {
    white-space: nowrap;

}

#adresse {
  width: 155px;

}

#widthDate {
  width: 100px;

}


