<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

 <!-- Custom styles for this template -->
 <link href="css/contact.css" rel="stylesheet">

<title>Colloquium</title>
</head>

<body>

  <!-- header -->


<div class='container-fluid'>
  <form method="post" name='contactForm' id="send_mail" ng-class="{ 'hidden': submit }">
    <fieldset>
      <legend>Contactez Nous </legend>
      <label for='email' ng-class="{'required':contactForm.email.$error.required,'invalid':contactForm.email.$error.email,'ok':contactForm.email.$valid}">
        <span class='no-placeholder'>
          Email
        </span>
        <input id='email' name='email' ng-model='email' placeholder='Email' required type='email'>
      </label>
      <label for='subject' ng-class="{'required':contactForm.subject.$error.required,'ok':contactForm.subject.$valid}">
        <span class='no-placeholder'>
          Sujet
        </span>
        <input id='subject' name='subject' ng-model='subject' placeholder='Sujet' required type='text'>
      </label>
      <label for='message' ng-class="{'required':contactForm.message.$error.required,'ok':contactForm.message.$valid}">
        <span class='no-placeholder'>
          Message
        </span>
        <textarea name='message' ng-model='message' placeholder='Message' required></textarea>
      </label>
    </fieldset>
    <div class='form-controls'>
      <button class='btn btn-send' ng-click='submit = ! submit' ng-disabled='contactForm.$invalid' name='send_mail' type='submit'>
        Envoyer
      </button>
    </div>
  </form>
</div>

<!-- librairie js -->
  <script src="js/jquery.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  
  <script type="text/javascript" src="js/haut.js"></script>
	  
  <script type="text/javascript" src="js/sendmail.js"></script>
  <script type="text/javascript" src="js/haut-requete.js"></script>
</body>


</html>